@model ALC.IES.WebRange.Models.ConvencionEditarModel
@{
    ViewBag.Title = "Editar convención";
}

@section head{
    <link href="~/Content/loadingOverlay.css" rel="stylesheet" />
    <link href="~/Content/Pikaday/pikaday.css" rel="stylesheet" />
    <link href="~/Content/handsontable/handsontable.full.css" rel="stylesheet" />
    <style>
        body{
            overflow:hidden;
        }
    </style>
}

@section header{
    @Html.Partial("header", Model.Header)

}

@section leftmenu{
    @*@Html.Partial("leftmenu")*@
}
<div class="loading">Cargando&#8230;</div>
<div id="page-wrapper" class="no-padding no-margin">
    <div style="padding-bottom:35px;">
        <div id="tablaExcel"></div>
    </div>
    <footer class="fEditor">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li>
                    <a href="#" id="aRefresh"><i class="fa fa-refresh"></i></a>
                </li>
            </ul>

            <ul class="pagination pagination-sm">
                <li>
                    <a href="#" class="aPaging" aria-label="Inicio" title="Inicio" id="aPagingFirst" data-page="1">
                        <span aria-hidden="true">
                            <i class="fa fa-angle-double-left"></i>
                        </span>
                    </a>
                </li>
                <li id="liPagingPrev">
                    <a href="#" class="aPaging" aria-label="Anterior" title="Anterior" id="aPagingBefore" data-page="">
                        <span aria-hidden="true">
                            <i class="fa fa-angle-left"></i>
                        </span>
                    </a>
                </li>
                <li id="liPagingModel">
                    <a href="#" class="aPaging" data-page="1">1</a>
                </li>
                <li>
                    <a href="#" class="aPaging" aria-label="Siguiente" title="Siguiente" id="aPagingNext" data-page="">
                        <span aria-hidden="true">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="aPaging" aria-label="Fin" title="Fin" id="aPagingLast" data-page="">
                        <span aria-hidden="true">
                            <i class="fa fa-angle-double-right"></i>
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="pagination pagination-sm" style="float:right">
                <li>
                    <span><b id="pageEls">&nbsp;&nbsp;&nbsp;</b> elementos de <b id="totalEls">&nbsp;&nbsp;&nbsp;</b></span>
                </li>
            </ul>
        </nav>
    </footer>
</div>


@section Scripts{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/Pikaday/pikaday.js"></script>
    <script src="~/Scripts/handsontable/handsontable.full.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numbro/1.11.1/languages.js"></script>


    @*<script src="~/Scripts/chosen.jquery.min.js"></script>
        <script src="~/Scripts/handsontable/handsontable-chosen-editor.js"></script>*@

    <script>
        var convencion = {};
        convencion.Id = '@(Model.Id)';
        convencion.pagination = {};
        convencion.pagination.page = 1;
        convencion.pagination.NoMorePages = false;
        convencion.pagination.data = null;
        convencion.pagination.currentFilter = null;
        convencion.pagination.currentLevel = null;
        convencion.pagination.scrollCheck = false;
        convencion.table = {};
        convencion.table.columnsConfig = @Html.Raw(Model.JsonHOT_Config);
        convencion.table.columnsHeaders = @Html.Raw(Model.JsonHOT_Headers);
        convencion.pagination.currentFiltersOwn = [];
        convencion.pagination.pageSize = @Model.PageSize;
    </script>
    <script src="~/js/convenciones/editar.js"></script>

}