@model ALC.IES.WebRange.Models.HeaderModel

@{
    Layout = "";
}

<div class="navbar-header">
    @if (Model.MenuLeft) {
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    }
    <a class="navbar-brand" href="/">
        <img src="~/Content/images/intersport-logo.jpg" height="50" />
    </a>
</div>
<h2 class="nav-title">
    @Html.Raw(Model.Titulo)
</h2>
<ul class="nav navbar-top-links navbar-right">
    @if (Model.Filtros != null && Model.Filtros.Count > 0) {
        ALC.IES.WebRange.cls.Filtro lastF = Model.Filtros.Last();
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-filter fa-fw"></i> <span id="spnFiltro">-Campos-</span> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages filtros">
                @foreach (var filtro in Model.Filtros) {
                    <li><a href="#" class="btnFilter" data-id="@filtro.Id">@filtro.Name</a></li>
                    if (!filtro.Equals(lastF)) {
                        <li class="divider"></li>
                    }
                }


            </ul>
            <!-- /.dropdown-messages -->
        </li>
    }
    @if (Model.FiltroNivel) {
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-tags fa-fw"></i> <span id="spnFiltroNivel">-Nivel-</span> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages filtrosNivel">
                @if (Model.Filtros != null && Model.Filtros.Count > 0) {
                    <li><a href="#" class="btn-nivel" data-val="-1">Todos</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="btn-nivel" data-val="0">Modelos</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="btn-nivel" data-val="1">Colores</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="btn-nivel" data-val="2">Tallas</a></li>
                }

            </ul>
            <!-- /.dropdown-messages -->
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-list-ol fa-fw"></i> <span id="spnPaginacion">1000</span> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages filtrosPaginacion">
                @if (Model.Filtros != null && Model.Filtros.Count > 0) {
                    <li><a href="#" class="btn-paginacion" data-val="100">100</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="btn-paginacion" data-val="1000">1000</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="btn-paginacion" data-val="10000">10000</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="btn-paginacion" data-val="100000">100000</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="btn-paginacion" data-val="-1">Todas</a></li>
                }

            </ul>
            <!-- /.dropdown-messages -->
        </li>
    }
    @if (Model.FiltroMarca != null && Model.FiltroMarca.Count > 0) {
        ALC.IES.WebRange.cls.Filtro lastF = Model.Filtros.Last();
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-copyright fa-fw"></i> <span id="spnFiltroMarca">-Marca-</span> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages filtrosMarca">
                @foreach (var marca in Model.FiltroMarca) {
                    <li><a href="#" class="btn-marca" data-field="LCSRP8" data-val="@marca">@marca.Trim()</a></li>
                }
            </ul>
            <!-- /.dropdown-messages -->
        </li>
    }

    @*@if (Model.Filtros != null) {
            <li class="active"><a class="btnFilter" data-id="null" href="#">Básico</a></li>
            foreach (var filtro in Model.Filtros) {
                if (!filtro.IsBasic) {
                    <li><a href="#" class="btnFilter" data-id="@filtro.Id">@filtro.Name</a></li>
                }
            }
            <li><a class="btnFilter" data-id="ALL" href="#">Todo</a></li>
            <li role="separator" class="divider"></li>
        }*@
    <li role="separator" class="divider"></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> Perfil</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-gear fa-fw"></i> Opciones</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
@*<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-messages">
            <li>
                <a href="#">
                    <div>
                        <strong>John Smith</strong>
                        <span class="pull-right text-muted">
                            <em>Yesterday</em>
                        </span>
                    </div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <strong>John Smith</strong>
                        <span class="pull-right text-muted">
                            <em>Yesterday</em>
                        </span>
                    </div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <strong>John Smith</strong>
                        <span class="pull-right text-muted">
                            <em>Yesterday</em>
                        </span>
                    </div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="text-center" href="#">
                    <strong>Read All Messages</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <!-- /.dropdown-messages -->
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-tasks">
            <li>
                <a href="#">
                    <div>
                        <p>
                            <strong>Task 1</strong>
                            <span class="pull-right text-muted">40% Complete</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <p>
                            <strong>Task 2</strong>
                            <span class="pull-right text-muted">20% Complete</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                <span class="sr-only">20% Complete</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <p>
                            <strong>Task 3</strong>
                            <span class="pull-right text-muted">60% Complete</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% Complete (warning)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <p>
                            <strong>Task 4</strong>
                            <span class="pull-right text-muted">80% Complete</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="text-center" href="#">
                    <strong>See All Tasks</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <!-- /.dropdown-tasks -->
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-comment fa-fw"></i> New Comment
                        <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                        <span class="pull-right text-muted small">12 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                        <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-tasks fa-fw"></i> New Task
                        <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                        <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="text-center" href="#">
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <!-- /.dropdown-alerts -->
    </li>*@