@model ALC.IES.WebRange.Models.ConvencionesListModel
@{
    ViewBag.Title = "Selecció de convenció";
}

@section head{

}

@section header{
    @Html.Partial("header", new ALC.IES.WebRange.Models.HeaderModel())
}

@section leftmenu{
    @Html.Partial("leftmenu")
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Selecciona una convenció</h3>
        </div>
    </div>
    <div class="row">
        <div class="list-group">
            @foreach (var conv in Model.ConvencionesCurrent) {
                <a href="@Url.Action("Editar", "Convencion", new { id = conv.Id })" class="list-group-item"><span class="badge">@conv.Start.ToShortDateString() - @conv.End.ToShortDateString()</span>@conv.Id</a>
            }
        </div>
    </div>
</div>


@section scripts{


}